$color-dark-slate-grey: #274C5B;
$color-dark-sea-green: #7EB693;
$color-arylide-yellow: #EFD372;
$color-light-grey: #D4D4D4;
$color-cultured: #F9F8F8;
$color-anti-flash-white: #EFF6F1;
$color-devys-grey: #525C60;
$color-chinese-white: #E0E0E0;
$color-shiny-shamrock: #68A47F;
$color-white: #FFFFFF;
$color-lemon-chiffon: #FFF4CD;
$color-police-blue: #335B6B;
$color-lotion: #FCFCFC;
$color-silver-chalice: #ABABAB;
$color-show: #FFFAFA;
$color-light-pink: rgba(253, 176, 45, 0.16);
$color-bright-grey: #E3F1E9;