.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    overflow: hidden;
    height: 100%;

    &_position{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0, .2);
        backdrop-filter: blur(10px);
    }

    &__body{
        @include flex-column-center;
        position: relative;
        width: 100%;
        padding-top: 115px;
        padding-bottom: 125px;
        background-color: $color-show;

        @media screen and (max-height: 1000px) {
            padding-top: 85px;
            padding-bottom: 95px;
        }

        @media screen and (max-height: 900px) {
            padding-top: 75px;
            padding-bottom: 85px;
        }

        @media screen and (max-height: 800px) {
            padding-top: 65px;
            padding-bottom: 75px;
        }
    }

    &__main{
        @include flex-row-center;
    }

    &__image{
        position: relative;

        & img{
            width: 591px;
            height: 563px;
            border-radius: 30px;
            @media screen and (max-height: 1100px) {
                width: 491px;
                height: 463px;
                margin-left: 80px;
            }

            @media screen and (max-height: 1000px) {
                width: 441px;
                height: 413px;
                margin-left: 80px;
            }

            @media screen and (max-height: 900px) {
                width: 391px;
                height: 363px;
                margin-left: 80px;
            }

            @media screen and (max-height: 800px) {
                width: 341px;
                height: 313px;
                margin-left: 80px;
            }

            @media screen and (max-width: 1100px) {
                margin-left: 80px;
            }
        }

        & div{
            @include flex-center-center;
            position: absolute;
            height: 31px;
            border-radius: 8px;
            padding-left: 12px;
            padding-right: 12px;
            background-color: $color-dark-slate-grey;
            top: 38px;
            left: 31px;
            @include font-size-color-family($font-size-15, $color-white, Roboto500);
        
            @media screen and (max-width: 1800px) {
                left: 111px;
            }
        }
    }

    &__close{
        position: absolute;
        @include flex-center-center;
        top: 132px;
        right: 196px;
        width: 64px;
        height: 46px;
        background-color: $color-dark-slate-grey;
        @include font-size-color-family($font-size-20, $color-white, Roboto700);
        border-radius: 16px;
        cursor: pointer;
        
        @media screen and (max-height: 900px) {
            top: 102px;
            right: 166px;
            width: 54px;
            height: 36px;
            font-size: $font-size-18;
            border-radius: 11px;
        }

        @media screen and (max-height: 800px) {
            font-size: $font-size-15;
        }
    }

    &__main-text{
        @include flex-column;
        margin-left: 88px;

        @media screen and (max-width: 1100px) {
            margin-left: 58px;
        }
    }

    &__name{
        @include font-size-color-family($font-size-40, $color-dark-slate-grey, Roboto500);
        margin-bottom: 15px;

        @media screen and (max-height: 1000px) {
            font-size: $font-size-38;
        }

        @media screen and (max-height: 900px) {
            font-size: $font-size-36;
        }

        @media screen and (max-height: 800px) {
            font-size: $font-size-30;
        }
    }

    &__score{
        @include flex-row;

        & div{
            width: 25px;
            height: 21px;
            background-image: url(images/testimonial/star.svg);
            @include background-center-norepeat;
        }
    }

    &__price{
        @include flex-row-center;
        margin-top: 15px;
    }

    &__old-price{
        @include font-size-color-family($font-size-15, $color-silver-chalice, OpenSans600);
        text-decoration: line-through;
        margin-right: 8px;
    }

    &__new-price{
        @include font-size-color-family($font-size-18, $color-dark-slate-grey, OpenSans700);
    }

    &__main-desk{
        width: 658px;
        margin-top: 27px;
        line-height: 1.4;
        text-align: left;
        @include font-size-color-family($font-size-18, $color-dark-slate-grey, OpenSans400);
        
        @media screen and (max-height: 800px) {
            font-size: $font-size-15;
        }

        @media screen and (max-height: 1100px) {
            width: 60%;
        }
    }

    &__quantity{
        @include flex-row-center;
        margin-top: 35px;

        & label{
            @include font-size-color-family($font-size-20, $color-dark-slate-grey, Roboto700);
            margin-right: 22px;
        }

        & input{
            width: 134px;
            height: 80px;
            border-radius: 16px;
            border: 1px solid $color-dark-slate-grey;
            background-color: $color-white;
            @include font-size-color-family($font-size-20, $color-dark-slate-grey, Roboto700);
            text-align: center;

            @media screen and (max-height: 900px) {
                height: 75px;
            }

            @media screen and (max-height: 800px) {
                font-size: $font-size-15;
                height: 60px;
            }
        }

        & button{
            width: auto;
            margin-left: 20px;
            padding-left: 39px;
            padding-right: 39px;

            @media screen and (max-height: 900px) {
                height: 75px;
            }

            @media screen and (max-height: 800px) {
                font-size: $font-size-15;
                height: 60px;
            }
        }
    }

    &__description{
        @include flex-column-center;
        margin-top: 90px;
    }

    &__buttons{
        @include flex-row-center;

        & button{
            &:first-child{
                margin-right: 20px;
            }

            @media screen and (max-height: 900px) {
                height: 75px;
            }

            @media screen and (max-height: 800px) {
                font-size: $font-size-15;
                height: 60px;
                width: 240px;
            }
        }
    }

    &__desk-text{
        width: 1137px;
        margin-top: 27px;
        line-height: 1.4;
        text-align: center;
        @include font-size-color-family($font-size-18, $color-dark-slate-grey, OpenSans400);
    
        @media screen and (max-height: 800px) {
            font-size: $font-size-15;
        }

        @media screen and (max-width: 1100px) {
            width: 80%;
        }
    }
}
